@import "tailwindcss";

body {
  @apply bg-[#F5F5F5];
  scroll-behavior: smooth;
}

/* fonts---------- */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "Cairo-semibold";
  src: url("/fonts/Cairo-SemiBold.ttf");
}

@theme {
  /* colors---- */
  --color-active-link: rgb(47, 48, 145, 0.8);
  --color-primary-text: #3c4853;
  --color-secondary-text: #d8d8d8;
  --color-section-title: #3a3a3a;
  --color-section-text: #404040;
  --color-vectors: #c4c4c4;
  --color-stroke: #a9a9a9;
  --color-timeline-line: #4068ff;

  /* fonts */
  --font-cairo: "Cairo", sans-serif;
  --font-cairo-semibold: "Cairo-semibold", sans-serif;
}

@utility container {
  @apply mx-auto;
}

@layer components {
  nav {
    @apply container flex justify-between items-center gap-30;

    ul {
      @apply xl:flex xl:flex-1 xl:justify-between text-lg font-medium hidden;

      li {
        @apply rounded-full overflow-hidden;

        a {
          @apply w-full h-full block py-2 px-5 transition-all duration-300 hover:bg-active-link hover:text-white font-cairo;
        }
      }
    }
  }

  .hero {
    @apply h-[calc(100vh-80px)] bg-[url('/assets/hero-back.jpg')] bg-cover bg-center relative flex flex-col justify-center items-center;

    .content {
      @apply relative z-20 px-4 pb-10 h-full w-fit mx-auto flex flex-col items-center justify-between;
    }

    h1 {
      @apply text-6xl text-white text-center py-10 px-5 font-cairo-semibold leading-24 max-w-[85%];
    }

    p {
      @apply text-center max-w-4xl mx-auto px-4 text-lg font-cairo leading-10 text-secondary-text;
    }

    button {
      @apply hover:-translate-y-1 transition-transform duration-300;
    }
  }

  #about {
    .container p {
      @apply mt-10 text-section-text text-2xl lg:max-w-[80%] leading-10;
    }

    .container h2 {
      @apply text-5xl text-section-title;
    }
  }

  #orgs {
    .sec-text {
      @apply flex justify-between flex-col-reverse md:flex-row gap-10 shadow-[0_0_10px_#848484] rounded-lg p-4 w-[95%] lg:w-[80%] mx-auto;

      h2 {
        @apply text-section-title text-3xl;
      }

      p {
        @apply text-section-text mt-6 text-xl leading-10;
      }
    }

    .counting-boxes {
      @apply flex justify-between flex-col md:flex-row gap-10 w-[95%] lg:w-[80%] mx-auto mt-8;
    }
  }
}

@utility blacklayer {
  @apply absolute inset-0 bg-black opacity-60;
}
