@import "tailwindcss";

body {
  @apply bg-[#F5F5F5];
  scroll-behavior: smooth;
}

/* fonts---------- */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-Medium.ttf");
}

@font-face {
  font-family: "Cairo-semibold";
  src: url("/fonts/Cairo-SemiBold.ttf");
}

@theme {
  /* colors---- */
  --color-active-link: rgb(47, 48, 145, 0.8);
  --color-primary-text: #3c4853;
  --color-secondary-text: #d8d8d8;
  --color-section-title: #3a3a3a;
  --color-section-text: #404040;
  --color-vectors: #c4c4c4;
  --color-stroke: #a9a9a9;
  --color-btn-primary: #303133;
  --color-soft-dark: #292929;
  --color-darker: #181818;
  --color-timeline-line: #4068ff;

  /* fonts */
  --font-cairo: "Cairo", sans-serif;
  --font-cairo-semibold: "Cairo-semibold", sans-serif;
}

@utility container {
  @apply mx-auto;
}

@layer components {
  nav {
    @apply container flex justify-between items-center gap-30;

    ul {
      @apply xl:flex xl:flex-1 xl:justify-between text-lg font-medium hidden;

      li {
        @apply rounded-full overflow-hidden;

        a {
          @apply w-full h-full block py-2 px-5 transition-all duration-300 hover:bg-active-link hover:text-white font-cairo;
        }
      }
    }
  }

  .hero {
    @apply h-[calc(100vh-80px)] bg-[url('/assets/hero-back.jpg')] bg-cover bg-center relative flex flex-col justify-center items-center;

    .content {
      @apply relative z-20 px-4 pb-10 h-full w-fit mx-auto flex flex-col items-center justify-between;
    }

    h1 {
      @apply text-6xl text-white text-center py-10 px-5 font-cairo-semibold leading-24 max-w-[85%];
    }

    p {
      @apply text-center max-w-4xl mx-auto px-4 text-lg font-cairo leading-10 text-secondary-text;
    }

    button {
      @apply hover:-translate-y-1 transition-transform duration-300;
    }
  }

  #about {
    .container p {
      @apply mt-10 text-section-text text-2xl lg:max-w-[80%] leading-10;
    }
  }

  #orgs {
    .sec-text {
      @apply flex justify-between flex-col-reverse md:flex-row gap-10 shadow-[0_0_10px_#848484] rounded-lg p-4 w-[95%] lg:w-[80%] mx-auto;

      p {
        @apply text-section-text mt-6 text-xl leading-10;
      }
    }

    .counting-boxes {
      @apply flex justify-between flex-col md:flex-row gap-10 w-[95%] lg:w-[80%] mx-auto mt-8;
    }
  }

  #features {
    .sec-text p {
      @apply mt-6 md:mt-8 lg:mt-10 text-section-text text-lg md:text-xl lg:text-2xl lg:max-w-[80%] mx-auto leading-7 md:leading-8 lg:leading-10 px-4;
    }

    .cards {
      @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 md:gap-8 lg:gap-10 mt-12 md:mt-16 lg:mt-20 w-[90%] lg:w-[85%] xl:w-[80%] mx-auto;

      p {
        @apply text-section-text text-sm md:text-base lg:text-lg leading-5 md:leading-6 lg:leading-6;
      }
    }
  }
}

@utility blacklayer {
  @apply absolute inset-0 bg-black opacity-60;
}

@utility sec-title {
  @apply text-3xl md:text-4xl lg:text-5xl text-section-title;
}

/* timeline */
@media (max-width: 1171px) {
  .vertical-timeline-element-content {
    margin: 5px 5px 5px 1px;
  }
}

@media (min-width: 1171px) {
  .vertical-timeline-element-content {
    margin: 5px 5px 5px 5px !important;
  }
}

/* loaders */
.wrapper-grid {
  --animation-duration: 2.1s;
  --cube-color: #0000;
  --highlight-color: #00cc44;
  --cube-width: 48px;
  --cube-height: 48px;
  --font-size: 1.8em;

  position: relative;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(7, var(--cube-width));
  grid-template-rows: auto;
  grid-gap: 0;

  width: calc(7 * var(--cube-width));
  height: var(--cube-height);
  perspective: 350px;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  font-weight: 800;
  color: transparent;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cube-width);
  height: var(--cube-height);
  background-color: var(--cube-color);
}
.face-left,
.face-right,
.face-back,
.face-front {
  box-shadow: inset 0 0 2px 1px #0001, inset 0 0 12px 1px #fff1;
}
.face-front {
  transform: rotateY(0deg) translateZ(calc(var(--cube-width) / 2));
}
.face-back {
  transform: rotateY(180deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-left {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-right {
  transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-top {
  height: var(--cube-width);
  transform: rotateX(90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.8;
}
.face-bottom {
  height: var(--cube-width);
  transform: rotateX(-90deg)
    translateZ(calc(var(--cube-height) - var(--cube-width) * 0.5));
  opacity: 0.8;
}

.cube:nth-child(1) {
  z-index: 0;
  animation-delay: 0s;
}
.cube:nth-child(2) {
  z-index: 1;
  animation-delay: 0.2s;
}
.cube:nth-child(3) {
  z-index: 2;
  animation-delay: 0.4s;
}
.cube:nth-child(4) {
  z-index: 3;
  animation-delay: 0.6s;
}
.cube:nth-child(5) {
  z-index: 2;
  animation-delay: 0.8s;
}
.cube:nth-child(6) {
  z-index: 1;
  animation-delay: 1s;
}
.cube:nth-child(7) {
  z-index: 0;
  animation-delay: 1.2s;
}

.cube {
  animation: translate-z var(--animation-duration) ease-in-out infinite;
}
.cube .face {
  animation: face-color var(--animation-duration) ease-in-out infinite,
    /* face-glow var(--animation-duration) ease-in-out infinite, */ edge-glow
      var(--animation-duration) ease-in-out infinite;
  animation-delay: inherit;
}
.cube .face.face-front {
  animation: face-color var(--animation-duration) ease-in-out infinite,
    face-glow var(--animation-duration) ease-in-out infinite,
    edge-glow var(--animation-duration) ease-in-out infinite;
  animation-delay: inherit;
}

@keyframes translate-z {
  0%,
  40%,
  100% {
    transform: translateZ(-2px);
  }
  30% {
    transform: translateZ(16px) translateY(-1px);
  }
}
@keyframes face-color {
  0%,
  50%,
  100% {
    background-color: var(--cube-color);
  }
  10% {
    background-color: var(--highlight-color);
  }
}
@keyframes face-glow {
  0%,
  50%,
  100% {
    color: #fff0;
    filter: none;
  }
  30% {
    color: #fff;
    filter: drop-shadow(0 14px 10px var(--highlight-color));
  }
}
@keyframes edge-glow {
  0%,
  40%,
  100% {
    box-shadow: inset 0 0 2px 1px #0001, inset 0 0 12px 1px #fff1;
  }
  30% {
    box-shadow: 0 0 2px 0px var(--highlight-color);
  }
}
